<h1>Edit column</h1>

<%= form_with(model: edit_board_column_path(@board, @column), local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :background_color %><br>
    <%= form.text_field :background_color %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', board_columns_path(@board, @column) %>